<nb-layout-column>
  <nb-card>
    <nb-card-body>
      <nb-auth-block style="margin: auto;">
        
        <div>
            <h1 class="text-primary">Welcome to the process of accounts and movements</h1>
            <br>
            
            <p>
              <img src="assets/img/tecso-logo.png">
            </p>
              
            <br>
            <button class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>

      </nb-auth-block>
    </nb-card-body>
  </nb-card>
</nb-layout-column>