<!-- <div *ngIf="isLoggedIn; else loggedOut">
  Logged.
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="5" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
      
    </form>
    <hr />
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success">Sign Up</a>
  </div>
</ng-template> -->

<nb-layout-column>
  <nb-card>
    <nb-card-body>
      <nb-auth-block style="margin: auto;">
        <h1 id="title" class="title">Login</h1>

        <nb-alert *ngIf="errorMessage.error && errors?.length && !submitted" outline="danger" role="alert">
          <p class="alert-title"><b>Problems!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
          </ul>
        </nb-alert>

        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate aria-labelledby="title" class="ng-untouched ng-pristine ng-valid">
          
          <div class="form-control-group">
            <label class="label" for="input-email">Email:</label>
            <input nbInput
                  fullWidth
                  [(ngModel)]="form.email"
                  #email="ngModel"
                  name="email"
                  id="input-email"
                  pattern=".+@.+\..+"
                  placeholder="Email address"
                  autofocus
                  [required]="true"
                  [attr.aria-invalid]="email.invalid && email.touched ? true : null">
            <ng-container *ngIf="email.invalid && email.touched">
              <p class="error-message" *ngIf="email.errors?.required">
                Mail is required!
              </p>
              <p class="error-message" *ngIf="email.errors?.pattern">
                Please enter a valid email.
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <label class="label" for="input-username">Username:</label>
            <input nbInput
                  fullWidth
                  [(ngModel)]="form.username"
                  #username="ngModel"
                  name="username"
                  id="input-username"
                  placeholder="Username"
                  [required]="true"
                  [attr.aria-invalid]="username.invalid && username.touched ? true : null">
          <ng-container *ngIf="username.invalid && username.touched">
              <p class="error-message" *ngIf="username.errors?.required">
                The username is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <label class="label" for="input-password">Password:</label>
            <input nbInput
                  fullWidth
                  [(ngModel)]="form.password"
                  #password="ngModel"
                  name="password"
                  type="password"
                  id="input-password"
                  placeholder="Password"
                  [required]="true"
                  [minlength]="5"
                  [maxlength]="10"
                  [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched ">
              <p class="error-message" *ngIf="password.errors?.required">
                Password is required!
              </p>
              <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                The password must be
                 between 5 to 10
                 characters.
              </p>
            </ng-container>
          </div>

          <button nbButton
                  fullWidth
                  status="success"
                  [disabled]="f.submitted && isLoginFailed"
                  [class.btn-pulse]="submitted">
            Login
          </button>
        </form>
        <section class="another-action" aria-label="Register">
          You are not registered? <a class="text-link" routerLink="../signup">Sign up</a>
        </section>
      </nb-auth-block>
    </nb-card-body>
  </nb-card>
</nb-layout-column>